@model List<iBarber.Modelos.Barbearia>

<h3>
    CADASTRO DE BARBEARIAS
    <a class="btn btn-sm btn-primary float-right" href="/Barbearia/Adicionar">
        + ADICIONAR
    </a>
</h3>

<table class="table table-hover ">
    <thead>
        <tr>
            <th>BarbeariaID</th>
            <th>CNPJ</th>
            <th>Nome</th>
            <th>Telefone</th>
            <th>Logradouro</th>
            <th>CEP</th>
            <th>Bairro</th>
            <th>Cidade</th>
            <th>Ações</th> 
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.BarbeariaID</td>
                <td>@item.CNPJ</td>
                <td>@item.Nome</td>
                <td>@item.Telefone</td>
                <td>@item.Logradouro @item.Numero</td>
                <td>@item.CEP</td>
                <td>@item.Bairro</td>
                <td>@item.Cidade</td>
                <td>
                    <a href="/Barbearia/Editar?cnpj=@item.BarbeariaID" class="btn btn-sm btn-warning">
                        Editar
                    </a>
                    <a href="/Barbearia/Excluir?cnpj=@item.BarbeariaID" class="btn btn-sm btn-danger">
                        Excluir
                    </a>
                </td>
            </tr>

        }
    </tbody>
